<!-- <div class="bg-container">
    <div class="signin-card">
    <h1 class="head">Sign in</h1>
    <p class="paragraph">if you don't have an account register</p>
    <p class="paragraph">you can <a href="">Register here !</a></p>
</div>
</div> -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{ url_for('static', filename = 'login.css') }}">
    <title>{{title}}</title>
</head>

<body>
    <div class="bg-container row">
        <div class="d-flex align-items-center justify-content-center col">
            <div class="signupDiv">
                <p class="heading">Sign in</p>
                <p class="paragraph">If you don't have an account register here<br>
                    You can <a href="{{url_for('signup')}}">Register here !</a>
                </p>
                {% if err %}
                <p style="color: #da4167; font-size: 14px;" class="error">{{ err }}</p>
                {% endif %}
                <form action="" method="POST">
                    <i class="fa-regular fa-envelope"></i>
                    <label for="email">Email</label>

                    <input type="text" name='email' class="inputForm" placeholder="Enter your email address">
                    <!-- <label for="username">Username</label>
                    <input type="text" name = 'username' class="inputForm" placeholder="Enter your Username"> -->
                    <i class="fa-solid fa-key"></i>
                    <label for="password">Password</label>
            <div class="password-container">
                <input type="password" name="password" class="inputForm" id="passwordField" placeholder="Enter your Password">
                <span class="toggle-password" onclick="togglePasswordVisibility()">
                    <i class="fa-solid fa-eye"></i>
                </span>
            </div>
                    <!-- <label for="cnf">Confirm Password</label> -->
                    <!-- <input type="text" name = 'cnf' class="inputForm" placeholder="Confirm your Password"> -->
                    <!-- <label for="tickBox">Tick mark box:</label> -->

                    <button type="submit" class="submitBtn btn">Login</button>

                </form>
            </div>
        </div>
        <div class="imageContainer row">
            <img src="https://img.freepik.com/free-vector/sign-concept-illustration_114360-5425.jpg"
                style="border-radius: 2rem;" class="image">
        </div>
    </div>
    <!-- PASSWARD -->

    <script>
        function togglePasswordVisibility() {
            const passwordField = document.getElementById('passwordField');
            const toggleBtn = document.querySelector('.toggle-password i');

            if (passwordField.type === 'password') {
                passwordField.type = 'text';
                toggleBtn.classList.remove('fa-eye');
                toggleBtn.classList.add('fa-eye-slash');
            } else {
                passwordField.type = 'password';
                toggleBtn.classList.remove('fa-eye-slash');
                toggleBtn.classList.add('fa-eye');
            }
        }
    </script>

</body>

</html>